* {
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}

main{
  position: absolute;
  top: 0;
  left: 20%;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap:40px;
  overflow: scroll;
}

nav{
  position: fixed;
  height: 100vh;
  width: 20%;
  top: 0;
  padding-top: 30px;
  font-size: 24px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

nav a{
  color: #666;
  text-decoration: none;
  padding: 0.25em 1em;
}

nav a:hover{
  border-top: 0.1px solid gray;
  border-bottom: 0.1px solid gray;
}


.card {
  width: 280px;
  padding:  0.5em 0.5em 0 0.5em;
  border: 1px solid #888;
  border-radius: 9px;
  background-color: #eee;
}

.card div:last-child {
  border: none;
}

.img-container {
  width: 100%;
  text-align: center;
  background-color: #ddd;
}

.img-container img {
  width: 80%;
  text-align: center;
  object-fit: cover;
}

.details{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name-type {
  display: flex;
  margin: 0.75em 0em;
  justify-content: space-between;
  align-items: center;
}

.types{
  display: flex;
  justify-content: end;
}

.stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0.1em 0;
}


.type{
  color: whitesmoke;
  padding: 0.25em;
  margin: 0 0.15em;
  border-radius: 3px;

}

.text{
  color:whitesmoke
}
