* {
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}

main{
  position: absolute;
  top: 0;
  left: 20%;
  height: 100vh;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  gap:40px;
  overflow: scroll;
}

nav{
  position: fixed;
  height: 100vh;
  width: 20%;
  top: 0;
  padding-top: 30px;
  font-size: 24px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

nav a{
  padding: 0.25em 1em;
}

nav a:hover{
  border-top: 0.1px solid gray;
  border-bottom: 0.1px solid gray;
}

a{
  color: #666;
  text-decoration: none;
}

.card {
  width: 275px;
  max-height: 400px;
  padding:  0.5em 0.5em 0 0.5em;
  border: 1px solid #888;
  border-radius: 9px;
  background-color: #eee;
  /* box-shadow: 2px 1px 5px 1px ; */
}

.card div:last-child {
  border: none;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background-color: #ddd;
}

.img-container img {
  height: 100%;
  object-fit: cover;
}

.details{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.name-type {
  display: flex;
  margin: 1em 0em;
  justify-content: space-between;
  align-items: center;
}

.types{
  display: flex;
  gap: 1em;
  justify-content: end;
}

.stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0.1em 0;
}


.type{
  color: whitesmoke;
  padding: 0.25em;
  margin: 0 0.15em;
  border-radius: 3px;

}

.text{
  color:whitesmoke
}
